.book-board {
    border: solid;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 1%;
    border-color: rgb(219, 219, 219);
    padding: 3%;
    padding-bottom: 2%;

}
#Main-header {
    text-align: center;
}

.row-1-1 {
    padding-left: 33%;
    display: flex;
    gap: 13%;
}
.row-1-2 {
    display: flex;
    padding-left: 33%;
    gap: 13%;
}
.row-2-1 {
    padding-left: 20%;
    display: flex;
    gap: 10%;
}
.row-2-2 {
    display: flex;
    padding-left: 24%;
    gap: 25%;
}
.row-3 {
    padding-left: 45%;
}